.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
    }
    #grid {
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e";
    }

}
#models{text-shadow: 0.5px 0.5px rgb(0, 0, 0);}
.navbar-item{font-weight: 900;
    color: black}

#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

#grid {
    display: grid;
    grid-template-areas:
        "a a a a"
        "b c d e";

        grid-row-gap: 1rem;
}

@media (max-width: 1024px) {
    #grid {
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e";
    }
    #e{
        width: 280px;
        margin: auto; 
    }
}

.example-container {
    display: table-row
}

.sideNav {
    width: 10%;
}

.cross:hover {
    color: rgb(160, 160, 160) !important;
    cursor: pointer;
}
.navbar-item:hover {
    color: rgb(160, 160, 160) !important;
    cursor: pointer;
}

.navbar-item:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .sideNav {
        width: auto;
    }
}

::ng-deep mat-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* @media (max-height: 900px){
    .example-container {
        height: 90.5vh;
    }
} */
