          <div class="columns is-mobile is-marginless heading text-weight-bold">
              <div class="column left has-text-black">
                      <p>SynStudio </p>
              </div>
              <div class="column center desktop" id="models">
                  <p class="navbar-item has-text-black" routerLink="/">Accueil</p>
                  <p class="navbar-item has-text-black">Site</p>
                  <p class="navbar-item has-text-black" routerLink="/about">À propos</p>
                  <p class="navbar-item has-text-black" routerLink="/contact">Contact</p>
                  
              </div>
              <div class="column right">
                  <p class="navbar-item desktop has-text-black">Boutique   </p>
                  <p class="navbar-item desktop has-text-black">Connection  </p>
                  <button (click)="sideNav.toggle()" mat-button><figure class="navbar-item has-text-black">
                    <i class="fas fa-bars"></i>
                  </figure></button>
                  
                </div>
                
            </div>
                    <mat-sidenav-container class="example-container">
                        <mat-sidenav class="sideNav" #sideNav mode="over" opened="false" role="navigation" position="end">
                            <mat-divider></mat-divider>
                            <!-- <p style="padding: 10px" class="right" (click)="sideNav.toggle()"><mat-icon class="cross">close</mat-icon></p> -->
                            <p fxHide.gt-md class="navbar-item side center has-text-black">Accueil</p>
                            <mat-divider fxHide.gt-md class="center"></mat-divider>
                            <p fxHide.gt-md class="navbar-item side center has-text-black">Site</p>
                            <mat-divider  fxHide.gt-md></mat-divider>
                            <p fxHide.gt-md class="navbar-item side center has-text-black">À propos</p>
                            <mat-divider fxHide.gt-md></mat-divider>
                            <p fxHide.gt-md class="navbar-item side center has-text-black">Contact</p>
                            <mat-divider fxHide.gt-md></mat-divider>
                            <p class="navbar-item side center has-text-black">CV</p>
                            <mat-divider class="center"></mat-divider>
                            <p class="navbar-item side center has-text-black">Categorie</p>
                            <mat-divider class="center"></mat-divider>
                            <p class="navbar-item side center has-text-black">Categorie</p>
                            <mat-divider></mat-divider>
                            <p class="navbar-item side center has-text-black">Categorie</p>
                            <mat-divider></mat-divider>
                            <p class="navbar-item side center has-text-black">Categorie</p>
      
                        </mat-sidenav>
                        <mat-sidenav-content style="display: inline-block">
                            <router-outlet></router-outlet>
                        </mat-sidenav-content>
                      </mat-sidenav-container>    
      
      