          <div class="columns is-mobile is-marginless heading text-weight-bold">
              <div class="column left has-text-black">
                      <p>SynStudio </p>
              </div>
              <div class="column center desktop" id="models">
                  <p class="navbar-item has-text-black">Accueil</p>
                  <p class="navbar-item has-text-black">Site</p>
                  <p class="navbar-item has-text-black">À propos</p>
                  <p class="navbar-item has-text-black">Contact</p>
                  
              </div>
              <div class="column right">
                  <p class="navbar-item desktop has-text-black">Boutique   </p>
                  <p class="navbar-item desktop has-text-black">Connection  </p>
                  <button (click)="sideNav.toggle()" mat-button><figure class="navbar-item has-text-black">
                    <i class="fas fa-bars"></i>
                  </figure></button>
                  
              </div>
              
            </div>
                <mat-sidenav-container class="example-container">
                    <mat-sidenav class="sideNav" #sideNav mode="over" opened="false" role="navigation" position="end">
                        <p fxHide.gt-md class="navbar-item has-text-black">Accueil</p>
                        <p fxHide.gt-md class="navbar-item has-text-black">Site</p>
                        <p fxHide.gt-md class="navbar-item has-text-black">À propos</p>
                        <p fxHide.gt-md class="navbar-item has-text-black">Contact</p>
                        <p class="navbar-item has-text-black">CV</p>
                    </mat-sidenav>
                    <mat-sidenav-content>
                    </mat-sidenav-content>
                    <p class="has-text-black">Home</p>
                    <p class="nav-item has-text-black" style="text-shadow: 0.1px 0.1px #fff">911</p>
                    <p class="nav-item has-text-black">Home</p>
                    <p class="nav-item has-text-black">MACAN</p>
                  </mat-sidenav-container>    
      
      